.infor-container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
  }
  
.infor-titleBox {
    width: 100%; 
    height: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex; 
    align-items: center; 
    justify-content:left; 
    background-color: #134B70; 
  }
  
.infor-titleBox h2 {
    color: #ffffff; 
    font-size: 28px; 
    margin-left: 35px;
    font-family: 'Roboto', sans-serif; 
    text-shadow: 0px 4px 4px #00000040;
  }
  
.infor-boxContainer1 {
    width: 100%; 
    display: flex; 
    align-items: center;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #FFF8DB; 
  }







.infor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.label1 {
    display: flex;
    color: #134B70;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
}

.label2 {
    margin-top: 20px;
    display: flex;
    color: #134B70;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
}

.infor-name {
    height: 25px;
    color: #134B70;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    border: 1px solid #134B70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: auto;
    padding-left: 10px;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.infor-password {
    height: 25px;
    color: #134B70;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    border: 1px solid #134B70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: auto;
    padding-left: 10px;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.infor-position {
    height: 25px;
    color: #134B70;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    border: 1px solid #134B70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: auto;
    padding-left: 10px;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.boxContainer2 {
    width: 100%; 
    display: flex; 
    align-items: center;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #FFF8DB; 
  }